:root {
  --bg-color: #0f0f17;
  --accent-color: #2d5cad;
  --accent-color-dimmed: #2d5cad88;
  --accent-color-light: #81a3de;

  background-color: var(--bg-color);
}

#App {
  border-radius: 20px;
  margin: 20px 10px;
  text-align: left;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: var(--bg-color);
  padding: 10px;
  box-shadow: 0px 2px 10px 1px var(--bg-color);
  display: flex;
}

.navbar svg {
  color: #74d495;
  margin-left: 5px;
  width: 20px;
  height: 30px;
}

.input-box .input {
  margin-left: 10px;
  font-family: "MonaspiceKr Nerd Font", monospace;
  border: none;
  color: var(--accent-color-light);
  outline: none;
  height: 30px;
  line-height: 30px;
  background: none;
  width: calc(100% - 20px);
  transition: all 0.1s;
  caret-color: var(--accent-color-light);
  -webkit-font-smoothing: antialiased;
}

.input-box .input::placeholder {
  color: white;
  opacity: 0.2;
}

.debug {
  display: none;
  font-family: "MonaspiceKr Nerd Font", monospace;
}

.items {
  margin-top: 55px;
}

.item {
  padding: 0;
  border-radius: 3px;
}

.item .type,
.item .year {
  margin-right: 5px;
  font-family: "MonaspiceRn Nerd Font", monospace;
}

.item svg {
  color: #81a3de;
  width: 1em;
  height: 1em;
  margin-bottom: -2px;
}

.item .year {
  color: #ee889b;
}

.item .journal {
  color: #ad84be;
}

.item .title {
  color: #9cb9dd;
}

.item p {
  margin: 5px 5px;
  padding: 2px 0px;
}

.item.active {
  background-color: var(--accent-color-dimmed);
}

.item .year span,
.item .author span,
.item .title span {
  background: none !important;
  font-weight: bold;
  text-decoration: underline;
}
